.card {
    width: 324px;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid gray;
}

.userName {
    width: 100%;
    height: 35px;
    
    font-size: large;
    margin-bottom: 20px;
    margin-top: 6px;
}


label {
    text-align: left;
    font-weight: bold;
}

.auth {
    padding: 12px;
    background-color: #2443a9;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 32px;
}

.btns {
    text-align: center;
}

h1 {
    text-align: center;
}

.google {
    display: flex;
    text-align: center;
}

.google-icon {
    width: 32px;
    height: 32px;
    padding-top: 12px;
    margin-right: 12px;
}