.info-text {
    position: relative;
    left: 35px;
    font-size: large;
}

.background {
    position: relative;
}

.left-form {
    position: absolute;
    margin-top: 3%;
    margin-left: 10%;
}

.date-form {
    position: absolute;
    margin-top: 7%;
    margin-left: 10%;
}

.right-form {
    position: absolute;
    margin-top: 3%;
    margin-left: 40%;
}

.time-form {
    position: absolute;
    margin-top: 7%;
    margin-left: 40%;
}

.counter-form {
    position: absolute;
    margin-top: 7.35%;
    margin-left: 74.1%;
}

.arrow {
    position: absolute;
    margin-top: 3.7%;
    margin-left: 32.75%;
}

.input {
    height: 35px;
    text-align: center;
    font-size: large;
}

.input-lower {
    height: 35px;
    width: 83%;
    text-align: center;
    font-size: large;
}

.input-counter {
    height: 25px;
    width: 20%;
    text-align: center;
    font-size: large;
}

.text {
    position: relative;
    left: 35px;
    font-size: large;
}

.button-style {
    position: absolute;
    margin-top: 3%;
    margin-left: 70%;
    border-radius: 8px;
    background-color: #2543a9;
    color: white;
    width: 160px;
}

.plus-button {
    position: absolute;
    margin-top: 7%;
    margin-left: 70%;
    border-radius: 8px;
    background-color: #2543a9;
    color: white;
    font-size: 12px;
    width: 40px;
    height: 40px;
    padding: 9px;
}

.minus-button {
    position: absolute;
    margin-top: 7%;
    margin-left: 79.4%;
    border-radius: 8px;
    background-color: #2543a9;
    color: white;
    font-size: 12px;
    width: 40px;
    height: 40px;
    padding: 9px;
}

.sign {
    font-size: xx-large;
    line-height: 0.45;
}

.calendar {
    position: absolute;
    margin-top: 7.5%;
    margin-left: 26.5%;
}

.clock {
    position: absolute;
    margin-top: 7.5%;
    margin-left: 56.5%;
}

.person-quantity {
    position: absolute;
    width: 20px;
}