.info-text {
    font-family: 'Inter';
    font-style: italic;
    font-weight: bold;
}

.footer-style {
    width: 100%;
    margin-top: 20px;
}

.background {
    position: relative;
}

.left-form {
    position: absolute;
    margin-top: 3%;
    margin-left: 10%;
}

.date-form {
    position: absolute;
    margin-top: 7%;
    margin-left: 10%;
}

.right-form {
    position: absolute;
    margin-top: 3%;
    margin-left: 40%;
}

.time-form {
    position: absolute;
    margin-top: 7%;
    margin-left: 40%;
}

.arrow {
    position: absolute;
    margin-top: 3.7%;
    margin-left: 32.75%;
}

.input {
    height: 35px;
    text-align: center;
    font-size: large;
}

.input-lower {
    height: 35px;
    width: 83%;
    text-align: center;
    font-size: large;
}

.text {
    position: relative;
    left: 35px;
    font-size: large;
}

.background-style {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 30px;
}

.button-style {
    position: absolute;
    margin-top: 3%;
    margin-left: 70%;
    border-radius: 8px;
    background-color: #2543a9;
    color: white;
    width: 120px;
}

.icon-button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.plus-button {
    position: absolute;
    margin-top: 7%;
    margin-left: 70%;
    border-radius: 8px;
    background-color: #2543a9;
    color: white;
    font-size: 12px;
    width: 30px;
    height: 30px;
}

.minus-button {
    position: absolute;
    margin-top: 7%;
    margin-left: 77.2%;
    border-radius: 8px;
    background-color: #2543a9;
    color: white;
    font-size: 12px;
    width: 30px;
    height: 30px;
}

.footer-logo {
    height: 100%;
    object-fit: contain;
    height: 35px;
    margin-left: 2.25%;
    margin-top: 30px;
}

.calendar {
    position: absolute;
    margin-top: 7.5%;
    margin-left: 26.5%;
}

.clock {
    position: absolute;
    margin-top: 7.5%;
    margin-left: 56.5%;
}
  