.card {
    width: 75%;
}

.field {
    width: 45%;
    height: 35px;
    font-size: large;
}

.div {
    width: 45%;
}

i {
    font-size: 12px;
}

.row1-field {
    font-size: large;
    height: 35px;
    width: 100%;
}

p {
    font-size: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 48px;
}

.btns {
    text-align: right;
    margin-right: 100px;
}
